<!-- Navigation -->
<div class="container">

    <a class="navbar-brand js-scroll-trigger" href="{{ path('app_homepage') }}">accueil</a>

    <a class="navbar-brand js-scroll-trigger" href="{{ path('user_homepage') }}">connexion</a>

    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">

            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#about">Qui sommes-nous</a>
            </li>

            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#services">Actualités</a>
            </li>

            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#portfolio">Partenaires</a>
            </li>

            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
            </li>

        </ul>
    </div>
</div>



