{% extends 'baseAdmin.html.twig' %}

{% block body %}

<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">

                <h1>Créer un niveau d'accès:</h1>

                {{ form_start(form) }}
                    {{ form_widget(form) }}
                    <input type="submit" value="Create" />
                {{ form_end(form) }}

                <ul>
                    <li>
                        <a href="{{ path('levelofaccess_index') }}">Back to the list</a>
                    </li>
                </ul>

            </div>
        </div>
    </div>
</section>
{% endblock %}
