<!--**********************************************************************************************************-->
<!--********************************************* NAVBAR BackEnd   *********************************************-->
<!--**********************************************************************************************************-->
<!-- Navigation -->
<div class="container">

    <a class="navbar-brand js-scroll-trigger" href="{{ path('app_homepage') }}">accueil</a>

    <a class="navbar-brand js-scroll-trigger" href="{{ path('fos_user_security_logout') }}">déconnexion</a>


    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">

            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#">Back 1</a>
            </li>

            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#">Back 2</a>
            </li>

            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#">Back 3</a>
            </li>

            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#">Back 4</a>
            </li>

            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#">Back 5</a>
            </li>

        </ul>
    </div>
</div>

