{% extends '::baseFront.html.twig' %}

{% block body %}



<section id="event" class="bg-dark text-white">

    <div class="container-fluid p-0">
        <div class="row no-gutters popup-gallery">

            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 text-center container-fluid p-0">
                <div class="row">

                    {% for myEvent in myEvents %}
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 text-center" style="height:200px; overflow:scroll; margin-bottom:50px;">
                                <a href="{{ path('app_event', { 'id': myEvent.id }) }}">{{ myEvent.name }}</a><br>
                                <span style="color:red">{{ myEvent.typeOfTheEvent }}</span><br/>
                                {{ myEvent.description }}
                                <ul>
                            </div>
                    {% endfor %}

                </div>
            </div>

        </div>
    </div>
</section>




{% endblock %}
