{% extends '::baseFront.html.twig' %}

{% block body %}


<section id="services">
    <div class="container">

    </div>

    <div class="container-fluid p-0">



            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 text-center container-fluid p-0">
                <div class="row">

                    {% for actuality in actualities %}
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 text-center" style="height:200px; overflow:scroll; margin-bottom:50px;">
                                {{ actuality.name }}<br>
                                {{ actuality.description }}
                            </div>
                            </br>
                    {% endfor %}

                </div>
            </div>

    </div>
</section>


{% endblock %}

